{% extends 'base.html' %}
{% block title %}Staff | Awards{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <form action="." method="POST" class="form-control" >{% csrf_token %}
                {{form.as_p}}
                <div class="d-flex justify-content-center">
                    <input class="btn btn-primary" type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}