{% extends 'base.html' %}
{% block title %}Staff | Publications{% endblock title %}
{% block content %}
    {% if not object %}
        <p>No Publications</p>
    {% else %}
        {% for instance in object %}
            <p>{{instance.title}}</p>
            <p>{{instance.year}}</p>
            <a href="{% url 'staff:publication-edit' instance.id %}"> Edit Publication</a>
        {% endfor %}
    {% endif %}
       
    

    
   
    <a href="{% url 'staff:publication-add' %}"> Add Publication</a>
{% endblock content %}