{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Admin | Dashboard{% endblock title %}
{% block stylesheet %}
.content{
    display: grid !important;
    align-items: center !important;
}
.sec-box{
    <!-- width:400px; --><!-- dont uncomment this code - line -->
    height:160px;
    max-width:100%;
    line-height:160px;
    text-align:center;
    position:relative;
    
    font-size:1.9rem;

   -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
   transition: all 400ms ease-in;

   font-variant: petite-caps;
}

.sec-box a{
color:#fff;
text-decoration:none;
   
}


.employee-box{
    background:#41b6d6;
}


.leave-box{
    background:#fff;

}

.leave-box a{
   color:#3ea7c7 !important;
}


.birthday-box{
    background:#8664ad;
}

.company-box{
   background:#868686;
}


.count-object {
   position: absolute;
   top: 40%;
   right: 12px;
   font-size: 29px;
   font-weight: 100;
   font-variant: petite-caps;
   color: #f5f5f5;
   text-shadow:1px 1px rgba(8, 8, 8, 0.23);
}
p{
    font-size: 1.5em !important;
}
{% endblock stylesheet %}
{% block content %}
<link type="text/CSS" href="https://res.cloudinary.com/dtol6ceis/raw/upload/v1680494180/css/light-bootstrap-dashboard_hrxwdp.css" rel="stylesheet"/>
<div class="content">
    <section class="container-fluid">
        <section class="row m-lg-5 text-center"><h2 class="Header">Welcome to the Human Resource Information System</h2></section>
        <section class="row">
            <section class="col col-lg-4">
                <div class="employee-box sec-box">
                    <a href="{% url 'admin_app:employees' %}">
                    <span>Employees </span>
                    </a>
                    <span class="count-object">{{ employees.count }}</span> 
                </div>
            </section>
            <section class="col col-lg-4">
                <div class="leave-box sec-box">
                    <a href="{% url 'admin_app:publications' %}">
                    <span>Publications</span>
                    </a>
                    <span class="count-object" style="color:#41b6d6;">{{ publications.count }}</span> 
                </div>
            </section>
            <section class="col col-lg-4">
                <div class="birthday-box sec-box">
                    <a href="{% url 'admin_app:requests' %}">
                    <span>Requests</span>
                    </a>
                    <span class="count-object"> {{requests.count}} </span>
                </div>
            </section>
            
        </section>
        <section class="row mt-lg-5"></section>
        <section class="row" >
            <section class="col col-lg-4">
                <div class="leave-box sec-box">
                    <a href="{% url 'admin_app:contacts' %}">
                    <span>Contacts </span>
                    </a>
                    <span class="count-object" style="color:#41b6d6;">{{ contacts.count }}</span> 
                </div>
            </section>

        </section>
    </section> <!-- /container -->           
</div>
{% endblock content %}