{% extends 'base.html' %}
{% load static %}
{% block title %}Employees | Reports{% endblock title %}
{% block stylesheey %}

{% endblock stylesheey %}
{% block content %}
<link type="text/CSS" href="{% static 'css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>
    <section class="row">
        <section class="col col-lg-12">
            <a href="{{request.META.HTTP_REFERER|escape}}" style="color:#0d6efd;">back</a>
        </section>
    </section>
    <section class="row margin-bottom">
        <div class="container-fluid">      
            <form action="." method="GET" >{% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-3">
                        <input id="firstname" class="form-control" type="text" name="first_name"  placeholder="First Name" required>
                    </div>
                    <div class="col-sm-3">
                        <input id="lastname" class="form-control" type="text" name="last_name"  placeholder="Last Name" required>
                    </div>
                    <div class="col-sm-3">
                        <input id="firstname" class="form-control" type="text" name="year"  placeholder="Academic year e.g 2022/2023" required>
                    </div>
                    <div class="col-sm-2">
                        <input class="btn btn-primary" type="submit" value="Confirm" />
                    </div>
                    
                </div>
            </form>
        </div>       
    </section>

{% endblock content %}

