{% extends 'base.html' %}
{% load static %}
{% block title %}Employees | Reports{% endblock title %}
{% load humanize %}
{% block stylesheet %}
.rounded-circle-image{
    border-radius: 50% !important;
    width:250px;
    height:250px;
}

.profile-wrapper{
background:#fff;
-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

padding-top: 10px;

}


.list-group {
  margin-top: 10px;
}

span{
    color: #c7c7c7;
    font-weight: lighter;
    font-size: 14px;
}


.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid transparent;
  font-size:17px;
}

#override-start{
  background:none !important;
  top: 35% !important;
  right:13px;
  color:#000;
  font-size: 24px;

  }

  .alert-warning{
      background:#fd7b7b;
  }

  .alert-success {
      background-color: #82b72a;
  }

  .alert-success,.alert-warning{
      font-size:16px;
  }

  .employee-name-title{
  color: #3873b1;
  font-weight: 600;
  font-variant: petite-caps;
  font-size: 3.1rem !important;
}

span,.list-group-item > div{
    font-variant: petite-caps;
    }


.panel-default>.panel-heading {
  color: #fff !important;
  background-color: #2d88a9 !important;
}


.panel-title a:hover{
color:#e6e4e4;
}

.panel-title a:active{
color:#e6e4e4;
}

.panel-title a:focus{
color:#e6e4e4;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
{% endblock stylesheet %}
{% block content %}
    <section class="content">
        <section class="container-fluid">
            <section class="row">
                <section class="col col-lg-12">
                    <span><a href="{{request.META.HTTP_REFERER|escape}}" style="color:#565656;">Back</a></span>
                </section>
            </section>
            <section class="row">
                <section class="col col-lg-12">
                    <form action="." method="POST" >{% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-3">
                                {{form.firstname}}
                            </div>
                            <div class="col-sm-3">
                               
                                {{form.lastname}}
                            </div>
                            <div class="col-sm-3">
                                
                                {{form.year}}
                            </div>
                            <div class="col-sm-2">
                                <input class="btn btn-primary" type="submit" value="Confirm" />
                            </div>
                            
                        </div>
                    </form>
                </section>
            </section>
            <section class="row">
                <section class="col col-lg-12 col-md-12  col-sm-12">
                    {% if  messages %}
                            {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <b>{{ message }}</b>
                                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                    {% endif %}
                </section>
            </section>
            {% if not employee %}
    
            {% else %}
            
                <section class="row">
                    <section class="text-center">
                        <h3><span class="employee-name-title">{{employee.title}} {{ employee.get_full_name}}</span></h3>
                    </section>
                </section>

                <section class="row">
                    <section class="col col-lg-4 col-md-4 col-sm-12 profile-wrapper">
                        <img src="{{ employee.image.url}}" class="img-fluid rounded-circle-image" >
                        <section class="text-centered" style="margin-top: 3px;">
                            <ul class="list-group">
                                <li class="list-group-item"><span>Title</span> <div> {{employee.title}} {{ employee.get_full_name }}</div></li>
            

                                {% if employee.email %}
                                    <li class="list-group-item"><span>Email</span> <div>{{ employee.email}}</div></li>
                                {% endif %}
                                
                                <li class="list-group-item"><span>Employee Type</span> <div>{{ employee.employeetype}}</div></li>
                                
                                {% if employee.birthday %}
                                    <li class="list-group-item"><span>Date of Birth</span> <div>{{ employee.birthday}}</div></li>
                                    <li class="list-group-item"><span>Age </span><div>{{ employee.get_age }}</div></li>
                                {% else %}
                                    <li class="list-group-item"><span>Date of Birth</span> <div>NONE</div></li>
                                    <li class="list-group-item"><span>Age </span><div>N/A</div></li>
                                {% endif %}
                                {% if employee.is_blocked %}
                                <li class="list-group-item"><span>Status</span> <div>Inactive</div></li>
                                {% else %}
                                <li class="list-group-item"><span>Status</span><div> active</div></li>
                                {% endif %}
                                <div>
                                    <span style="font-style: italic;">updated - {{employee.updated|naturaltime}}</span>
                                </div>
                                
                            </ul>
                        </section>
                    </section><!-- /profile-wrappper -->
                    <section class="col col-lg-8" >

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                                            ACADEMIC YEAR {{year}} 
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col">                                                                                               
                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span style="">Peer Revieved Journals Published</span>
                                                        <div>
                                                            {% if journals %}
                                                                {% for journal in journals  %}
                                                                    {{journal.title}}<br>
                                                                {% endfor %}
                                                            {% else %}
                                                                NONE
                                                            {% endif %}
                                                        </div>
                                                    </a>
                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span style="">Conference Papers Published</span>
                                                        <div>
                                                            {% if papers %}
                                                                {% for paper in papers  %}
                                                                    {{paper.title}}<br>
                                                                {% endfor %}
                                                            {% else %}
                                                                NONE
                                                            {% endif %}
                                                        </div>
                                                    </a>

                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span style="">Books Published</span>
                                                        <div>
                                                            {% if books %}
                                                                {% for book in books  %}
                                                                    {{book.title}}<br>
                                                                {% endfor %}
                                                            {% else %}
                                                                NONE
                                                            {% endif %}
                                                        </div>
                                                    </a>

                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Technical Presentations</span> 
                                                        <div>
                                                            {% if presentations %}
                                                                {% for presentation in presentations %}
                                                                    {{presentation.title}}
                                                                {% endfor %}
                                                            {% else %}
                                                                NONE
                                                            {% endif %}
                                                        </div>
                                                    </a>

                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Conferences Attended</span> 
                                                        <div>
                                                            {% if conferences %}
                                                                {% for conference in conferences %}
                                                                    {{conference.title}}
                                                                {% endfor %}
                                                            {% else %}
                                                                NONE
                                                            {% endif %}
                                                        </div>
                                                    </a>

                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span style="">Awards Received</span>
                                                        <div>
                                                            {% if  awards %}
                                                                {% for award in awards  %}
                                                                    {{award.title}}<br>
                                                                {% endfor %}
                                                            {% else %}
                                                                NONE
                                                            {% endif %}
                                                        </div>
                                                    </a>

                                                    <div>
                                                        <span>last update - {{employee.updated|naturaltime }}</span>
                                                    </div>
                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                 
                        </div>
                    </section>
                </section><!-- /Row -->
            {% endif %}
        </section> <!-- /container --> 

    </section><!-- /content -->
 {% endblock %}