{% extends 'base.html' %}
{% block title %}Employees | Awards{% endblock title %}
{% block stylesheet %}{% endblock stylesheet %}
{% block content %}
    {% if not awards %}
        <p>No Awards</p>
    {% else %}
        {% for name in names %}
            <p>{{name.firstname}}  {{name.lastname}}</p>
            {% for instance in awards  %}
                {% if instance.user_id == name.user_id %}
                    <p>{{instance.title}}</p>
                    <p>{{instance.year}}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock content %}
