{% extends 'base.html' %}
{% block title %}Employees | Info{% endblock title %}
{% load humanize %}
{% block stylesheet %}
.rounded-circle-image{
    border-radius: 50% !important;
    width:250px;
    height:250px;
}

.profile-wrapper{
background:#fff;
-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

padding-top: 10px;

}


.list-group {
  margin-top: 10px;
}

span{
    color: #c7c7c7;
    font-weight: lighter;
    font-size: 14px;
}


.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid transparent;
  font-size:17px;
}

#override-start{
  background:none !important;
  top: 35% !important;
  right:13px;
  color:#000;
  font-size: 24px;

  }

  .alert-warning{
      background:#fd7b7b;
  }

  .alert-success {
      background-color: #82b72a;
  }

  .alert-success,.alert-warning{
      font-size:16px;
  }

  .employee-name-title{
  color: #3873b1;
  font-weight: 600;
  font-variant: petite-caps;
  font-size: 3.1rem !important;
}

span,.list-group-item > div{
    font-variant: petite-caps;
    }


.panel-default>.panel-heading {
  color: #fff !important;
  background-color: #2d88a9 !important;
}


.panel-title a:hover{
color:#e6e4e4;
}

.panel-title a:active{
color:#e6e4e4;
}

.panel-title a:focus{
color:#e6e4e4;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

#file:link {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
    padding: 10px 15px;
}

{% endblock stylesheet %}
{% block content %}
    <section class="content">
        <section class="container-fluid">
            <section class="row">
                <section class="col col-lg-12">
                    <span><a href="{{request.META.HTTP_REFERER|escape}}" style="color:#565656;">Back</a></span>
                </section>
            </section>
            <section class="row">
                <section class="col col-lg-12 col-md-12  col-sm-12">
                    {% if  messages %}
                            {% for message in messages %}
                                <div {% if message.tags %} class="{{ message.tags}}"{% endif %}>
                                    {{ message }}
                                    <button type="button" class="close" id = "override-start"data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                    {% endif %}
                </section>
            </section>
            <section class="row">
                <section class="text-center">
                    <h3><span class="employee-name-title">{{employee.title}} {{ employee.get_full_name}}</span></h3>
                </section>
            </section>

            <section class="row">
                <section class="col col-lg-4 col-md-4 col-sm-12 profile-wrapper">
                    <img src="{{ employee.image.url}}" class="img-fluid rounded-circle-image" >
                    <section class="text-centered" style="margin-top: 3px;">
                        <ul class="list-group">
                            <li class="list-group-item"><span>Title</span> <div> {{employee.title}} {{ employee.get_full_name }}</div></li>
        

                            {% if employee.email %}
                                <li class="list-group-item"><span>Email</span> <div>{{ employee.email}}</div></li>
                            {% endif %}
                            
                            <li class="list-group-item"><span>Employee Type</span> <div>{{ employee.employeetype}}</div></li>
                            
                            {% if employee.birthday %}
                                <li class="list-group-item"><span>Date of Birth</span> <div>{{ employee.birthday}}</div></li>
                                <li class="list-group-item"><span>Age </span><div>{{ employee.get_age }}</div></li>
                            {% else %}
                                <li class="list-group-item"><span>Date of Birth</span> <div>NONE</div></li>
                                <li class="list-group-item"><span>Age </span><div>N/A</div></li>
                            {% endif %}
                            {% if employee.is_blocked %}
                            <li class="list-group-item"><span>Status</span> <div>Inactive</div></li>
                            {% else %}
                            <li class="list-group-item"><span>Status</span><div> active</div></li>
                            {% endif %}
                            <div>
                                <span style="font-style: italic;">updated - {{employee.updated|naturaltime}}</span>
                            </div>
                            
                        </ul>
                    </section>
                </section><!-- /profile-wrappper -->
                <section class="col col-lg-8" >
                        <!-- ACCORDIAN - COLLAPSIBLE -->
                        <!-- 1 Personal Detail -->
                        <!-- 2 -- Family -->
                        <!-- 3--  Emergency -->
                        <!-- 4 -- Bank Account -->
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <!-- PERSONAL INFORMATION -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                                        PERSONAL INFORMATION 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col col-lg-6">
                                        
                                                <div class="list-group" id="list-tab" role="tablist">
                                                                                                      
                                                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Firstname</span>
                                                        <div> 
                                                            {% if employee.firstname %}
                                                                {{ employee.firstname}} 
                                                            {% else %}
                                                                NONE
                                                            {% endif %}
                                                        </div>
                                                    </a>                                                   
                                                   
                                                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Lastname</span>
                                                        <div> 
                                                            {% if employee.lastname %}
                                                                {{ employee.lastname}} 
                                                            {% else %}
                                                                NONE
                                                            {% endif %}
                                                        
                                                        </div>
                                                    </a>
                                                                                                        
                                                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Othername</span> 
                                                        <div>
                                                            {% if employee.othername %}
                                                                {{ employee.othername}} 
                                                            {% else %}
                                                                NONE
                                                            {% endif %}
                                                                
                                                        </div>
                                                    </a>
                                                                                                       
                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Gender</span> 
                                                        <div>
                                                            {% if employee.sex %}

                                                            {{ employee.sex }}
                                                            {% else %}
                                                                Undefined
                                                            {% endif %}
                                                        </div>
                                                    </a>
                                                                                                                                                            
                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Email </span>
                                                        <div>
                                                            {% if employee.email %}
                                                                {{ employee.email }} 
                                                            {% else %}
                                                                NONE
                                                            {% endif %}                                                          
                                                        </div>
                                                    </a>
                                                                                                                                                           
                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Contact</span> 
                                                        <div> 
                                                            {% if employee.tel %}
                                                                {{ employee.tel  }}
                                                            {% else %}
                                                                NONE
                                                            {% endif %}
                                                            
                                                        </div>
                                                    </a>
                                                                                                      
                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Bio</span> 
                                                        <div>
                                                            {% if employee.bio %}
                                                                {{ employee.bio }} 
                                                            {% else %}
                                                                NONE
                                                            {% endif %}                                                                                                                   
                                                        </div>
                                                    </a>
                                                                                                       
                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Date of Birth</span>
                                                        <div>
                                                            {% if employee.birthday %}
                                                                {{employee.birthday}}
                                                            {% else %}
                                                                NONE
                                                            {% endif %}
                                                        </div>
                                                    </a>
                                                                                                       
                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>NIS</span> 
                                                        <div>
                                                            {% if employee.nisnumber %}
                                                                {{ employee.nisnumber|stringformat:"09d" }}
                                                            {% else %}
                                                                NONE
                                                            {% endif %}
                                                            
                                                        </div>
                                                    </a>
                                                                                                     
                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" role="tab" aria-controls="">
                                                        <span>Cirriculum Vitae</span>
                                                        {% if employee.vitae %}
                                                            <div>
                                                                {{ employee.vitae | cut:'vitae/' }}
                                                            </div>
                                                            <a id="file" href="{% url 'admin_app:download' employee.user_id %}">download</a>
                                                        {% else %}
                                                            <div>
                                                                NONE
                                                            </div>
                                                        {% endif %}
                                                    </a>
                                                    
                                                    
                                                </div>

                                        
                                            </div>
                                    <!-- Here working -->
                                            <div class="col col-lg-6">
                                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Professional Development</span> 
                                                    <div>
                                                        {% if development %}
                                                            {% for dev in development  %}
                                                                {{dev.title}} - {{dev.period}}
                                                            {% endfor %}
                                                        {% else %}
                                                            NONE
                                                        {% endif %}
                                                    </div>
                                                </a>
                                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span style="">Awards</span>
                                                    <div>
                                                        {% if  awards %}
                                                            {% for award in awards  %}
                                                                {{award.title}} - {{award.year}}<br>
                                                            {% endfor %}
                                                        {% else %}
                                                            NONE
                                                        {% endif %}
                                                    </div>
                                                </a>
                                                
                                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span style="">Peer Revieved Journals</span>
                                                    <div>
                                                        {% if journals %}
                                                            {% for journal in journals  %}
                                                                {{journal.title}} - {{journal.year}}<br>
                                                            {% endfor %}
                                                        {% else %}
                                                            NONE
                                                        {% endif %}
                                                    </div>
                                                </a>
                                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span style="">Conference Papers</span>
                                                    <div>
                                                        {% if papers %}
                                                            {% for paper in papers  %}
                                                                {{paper.title}} - {{paper.year}}<br>
                                                            {% endfor %}
                                                        {% else %}
                                                            NONE
                                                        {% endif %}
                                                    </div>
                                                </a>

                                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span style="">Books</span>
                                                    <div>
                                                        {% if books %}
                                                            {% for book in books  %}
                                                                {{book.title}} - {{book.year}}<br>
                                                            {% endfor %}
                                                        {% else %}
                                                            NONE
                                                        {% endif %}
                                                    </div>
                                                </a>

                                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Technical Presentations</span> 
                                                    <div>
                                                        {% if presentations %}
                                                            {% for presentation in presentations %}
                                                                {{presentation.title}} - {{presentation.year}}
                                                            {% endfor %}
                                                        {% else %}
                                                            NONE
                                                        {% endif %}
                                                    </div>
                                                </a>

                                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Manuscripts</span> 
                                                    <div>
                                                        {% if manuscripts %}
                                                            {% for manuscript in manuscripts %}
                                                                {% if manuscript.in_preparation %}
                                                                    {{manuscript.title}} - In Preparation
                                                                {% else %}
                                                                    {{manuscript.title}} - Under Review
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            NONE
                                                        {% endif %}
                                                    </div>
                                                </a>

                                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Conferences Attended</span> 
                                                    <div>
                                                        {% if conferences %}
                                                            {% for conference in conferences %}
                                                                {{conference.title}} - {{conference.year}}
                                                            {% endfor %}
                                                        {% else %}
                                                            NONE
                                                        {% endif %}
                                                    </div>
                                                </a>

                                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Professional Consultancies</span> 
                                                    <div>
                                                        {% if consultancies %}
                                                            {% for consult in consultancies %}
                                                                {{consult.title}} - {{consult.period}}<br>Position - {{consult.position}}
                                                            {% endfor %}
                                                        {% else %}
                                                            NONE
                                                        {% endif %}
                                                    </div>
                                                </a>

                                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Research Grants</span> 
                                                    <div>
                                                        {% if grants %}
                                                            {% for grant in grants %}
                                                                {{grant.title}}
                                                            {% endfor %}
                                                        {% else %}
                                                            NONE
                                                        {% endif %}
                                                    </div>
                                                </a>
                                                <div>
                                                    <span>last update - {{employee.updated|naturaltime }}</span>
                                                </div>
                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                 
                    </div>
                </section>
            </section><!-- /Row -->

        </section> <!-- /container --> 

    </section><!-- /content -->
 {% endblock %}