{% extends 'base.html' %}
{% load static %}
{% block title %}Employees | Add{% endblock title %}
{% block stylesheet %}
.container{
    display: grid;
    align-items: center;
    margin-top: 50px;
    gap:2rems;
}
#email{
    margin-top: 20px;
}

{% endblock stylesheet %}
{% block content %}
<link type="text/CSS" href="https://res.cloudinary.com/dtol6ceis/raw/upload/v1680494180/css/light-bootstrap-dashboard_hrxwdp.css" rel="stylesheet"/>
<div class="container">
    <section>
        <div class="row">
            <div class="col-md-12">
                <h3>Enter the email address of the employee you want to add</h3>
            </div>
        </div>
    </section>
    <form action="." method="POST">{% csrf_token %}
       {{form.as_p}}
        <div class="d-flex justify-content-center" id="email">
            <input class="btn btn-primary" type="submit" value="Add">
            
        </div>
    </form>
    {% if messages %}
        <div class="col-12">
            {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <b>{{ message }}</b>
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% if message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <b>{{ message }}</b>
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock content %}