{% extends 'home_b.html' %}
{% load static %}
{% block title %}Welcome{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static "/style_l.css" %}">
{% endblock css %}
{% block stylesheet %}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #6ebeff !important;
}

.Header{
  text-align:center;
  color: #0f6cbf;
}

.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #82c7ff;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #60a3bc;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.login_btn {
  width: 100%;
  background: #0d6efd !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 10px !important;
  width: 100px;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
  color: white;
  background-color:#0d6efd;
}

.input-group-text {
  background: #0d6efd !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass {
  height: 30px;
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0d6efd !important;
}

{% endblock stylesheet %}
{% block content %}
    {% for message in messages %}
        <div class="message text-center alert alert-info {{message.tags}}">
            {{message}}
        </div>
    {% endfor %}
    <div class="d-flex justify-content-center">
        <h1 class="Header">Welcome to the Human Resource Information System</h1>
    </div>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="{% static "media/img/uwi.png" %}" class='brand_logo' alt="User Login Logo">
                    </div>
                </div>
    
                <button onclick="window.location.href='{% url 'hris:login' %}';" type="button" name="button" id="login" class="btn btn-primary">
                    Login
                </button>
                <h1> &nbsp</h1>
                <button onclick="window.location.href='{% url 'hris:registration' %}';" type="button" name="button" id="register" class="btn btn-primary">
                    Register
                </button>
            </div>
        </div>
    </div>
    {{ redirect_to_login_immediately}}

{% endblock content %}