{% extends 'home_b.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static "style_l.css" %}">
{% endblock css %}
{% block content %}
    <div class="Header">
        <h1>Welcome to the Human Resource Information System</h1>
        </div>
    </div>
    
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="{% static "/img/uwi.png" %}" class='brand_logo' alt="User Login Logo">
                    </div>
                </div>
                <h1> &nbsp</h1>
                <div class="d-flex justify-content-center form_container">
                    <!---Look up div classes-->
                    <form action="{% url 'hris:doLogin' %}" method="POST">{% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="email" id="email" class="form-control input_user" required>
                            <!---  -->
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" id="password" class="form-control input_pass" required>
                            <!---   -->
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="rememberme" class="custom-control-input" id="customControlInline">
                                <label for="customControlInline" class="custom-control-label">Remember me</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" name="button" id="login" class="btn login_btn">
                                Login
                            </button>
                        </div>
                        {% comment %} Display Messages {% endcomment %}
                        {% if messages %}
                        <div class="col-12">
                            {% for message in messages %}
                            {% if message.tags == "error" %}
   {% comment %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
      <b>{{ message }}</b>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
   {% endcomment %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Invalid Login Credentials!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}

                    </form>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'hris:password_reset' %}">Forgot Password?</a>
                    </div>
                    <div class="d-flex justify-content-center links">
                       <a href="{% url 'hris:registration' %}" class="ml-2"> Register</a>
                    </div>
                    
                    <!--&nbsp is a blank space-->
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    
   