{% extends 'home_b.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static "style_l.css" %}">
{% endblock css %}
{% block stylesheet %}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #6ebeff !important;
}

.Header{
  text-align:center;
  color: #0f6cbf;
}

.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #82c7ff;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #60a3bc;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.login_btn {
  width: 100%;
  background: #0d6efd !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 10px !important;
  width: 100px;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
  color: white;
  background-color:#0d6efd;
}

.input-group-text {
  background: #0d6efd !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass {
  height: 30px;
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0d6efd !important;
}

{% endblock stylesheet %}
{% block content %}
    <div class="Header">
        <h1>Welcome to the Human Resource Information System</h1>
        </div>
    </div>
    
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="https://res.cloudinary.com/dtol6ceis/image/upload/v1680494722/media/img/uwi_zesiui.png" class='brand_logo' alt="User Login Logo">
                    </div>
                </div>
                <h1> &nbsp</h1>
                <div class="d-flex justify-content-center form_container">
                    <!---Look up div classes-->
                    <form action="{% url 'hris:doLogin' %}" method="POST">{% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="email" id="email" class="form-control input_user" required>
                            <!---  -->
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" id="password" class="form-control input_pass" required>
                            <!---   -->
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" name="button" id="login" class="btn btn-primary">
                                Login
                            </button>
                        </div>
                        {% comment %} Display Messages {% endcomment %}
                        {% if messages %}
                        <div class="col-12">
                            {% for message in messages %}
                            {% if message.tags == "error" %}
   {% comment %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
      <b>{{ message }}</b>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
   {% endcomment %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Invalid Login Credentials!</strong>
                                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}

                    </form>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'hris:password_reset' %}">Forgot Password?</a>
                    </div>
                    <div class="d-flex justify-content-center links">
                       <a href="{% url 'hris:registration' %}" class="ml-2"> Register</a>
                    </div>
                    
                    <!--&nbsp is a blank space-->
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    
   